$dark:rgba(41, 41, 233, 0.808);
$light:rgba(109, 136, 253, 0.7 );
$lime:rgb(87, 185, 87);
$green: rgb(11, 56, 11);
$ekru:rgb(245, 238, 238);
$letter:rgb(0, 0, 0);
$maincolor:rgb(208, 208, 228);
$white:white;


