button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  margin-left: 15px;
  opacity: 0.7;
  background-color: rgb(37, 34, 34);
}
button:hover {
  background-color: rgb(11, 56, 11);
  transition: 0.3s;
  opacity: 1;
}
button a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
}
button a:hover {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar {
  height: 50px;
  display: flex;
  background-color: rgba(109, 136, 253, 0.7);
  justify-content: space-between;
  padding: 15px;
  text-align: center;
}
.navbar_logo {
  font-size: 50px;
  font-style: italic;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Black", Arial, sans-serif;
  font-style: italic;
  cursor: pointer;
  color: rgb(11, 56, 11);
  margin: auto 0;
  margin-left: 30px;
}
.navbar_bars {
  opacity: 0;
}
@media (max-width: 768px) {
  .navbar_bars {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 26px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: auto 0;
    margin-top: 20px;
  }
}
.navbar_menu {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
}
.navbar_menu ul {
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 15px;
}
.navbar_menu-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: larger;
  font-size: 20px;
  transition: 0.5s;
}
.navbar_menu-links:hover {
  color: rgb(245, 238, 238);
  transition: 0.5s;
}

.main {
  background: url(arka.jpg);
  background-size: cover;
}
.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .main_container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.main_container-left {
  width: 100%;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .main_container-left {
    padding: 5rem 0;
  }
}
@media (max-width: 380px) {
  .main_container-left {
    line-height: 1.5;
  }
}
.main_container-left h1 {
  margin-left: 50px;
  font-size: 4rem;
  color: rgb(0, 0, 0);
  font-style: italic;
  letter-spacing: 5px;
}
@media (max-width: 768px) {
  .main_container-left h1 {
    font-size: 2rem;
  }
}
.main_container-left h3 {
  font-size: 2rem;
  font-weight: rgb(0, 0, 0);
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .main_container-left h3 {
    font-size: 1rem;
  }
}
.main_container-left p {
  font-size: 1.5rem;
  color: rgb(11, 56, 11);
  margin-top: 1rem;
  font-weight: 700;
  margin-left: 50px;
  font-style: italic;
  letter-spacing: 2px;
}
@media (max-width: 380px) {
  .main_container-left p {
    font-size: 1.5rem;
  }
}
.main_container-right {
  text-align: center;
}
.main_container-img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

button {
  margin-left: 50px;
}/*# sourceMappingURL=su.css.map */